body {
	background-color: black;
	color: white;
}
#day {
	font-size: 1.5rem;
}
.rooms {
	text-align: center;
}
.room {
	width: 200px;
	height: 200px;
	display: inline-block;
	box-sizing: border-box;
	padding-top: 90px;
	text-align: center;
}
/* eventually remove */
	[data-status="off"] {
		background-color: gray;
	}
	[data-status="on"] {
		background-color: yellow;
	}
/* end eventually remove */
svg [data-status="off"] {
	background-color: transparent; /* eventually remove */
	display: none;
}
svg [data-status="on"] {
	background-color: transparent; /* eventually remove */
	display: block;
}
#MOON path,
#SUN polygon {
	display: none;
}
button:focus {
	background-color: red;
	color: white;
}
.svg-container {
	width: 657px;
	height: 393px;
}